<div class="container contentContainer" id="home">
    <div class="row">
        <div class="col-md-6 col-md-offset-3" id="topRow">
            <h1 class="marginTop">The most efficient way to make Nigerian clothing.</h1>
            <p class="lead left marginTop">
                Eliminate all the inefficiencies that come with making traditional Nigerian clothing. Use our Online Design Wizard to select fabric and design clothing, and we'll deliver to your doorstep.
            </p>
					
            <p class="bold marginTop">
                Interested? Sign up to know when we launch.
            </p>
            
            <%= form_for @newEarlySignUp, :url => early_signups_path, :html => {:method => :post} do |f| %>
                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <%= f.email_field :email, class:"form-control", placeholder:"Your email" %>
                </div>
                <%= f.hidden_field :signed_up, {value: :false} %>
                <%= f.submit("Submit", class:'btn btn-primary btn-lg smallMarginTop') %>
            <% end %>
        </div>
    </div>
</div>
		
<div class="container contentContainer" id="about">
    <div class="row center">
        <h1 class="center title">Quality guaranteed.</h1>
        <p class="lead">Go from inspiration and ideas to beautiful clothing from the comfort of your home or office.</p>
    </div>
    <div class="row">
        <div class="col-md-4 marginTop center">
            <h3 class="center">Design</h3>
            <img src=<%= image_url("dummy_171x180.svg") %> alt="..." class="marginTop" />
            <p class="marginTop">
                Our interactive design wizard allows you to select from an extensive pool of designs and pair with fabric of your choice. Design individual pieces or complete outfits with ease.
            </p>
        </div>
        <div class="col-md-4 marginTop center">
            <h3 class="center">Accuracy</h3>
            <img src=<%= image_url("dummy_171x180.svg") %> alt="..." class="marginTop" />
            <p class="marginTop">
                We have only one size: yours. Upload your measurements or choose from standard sizes to get your very best fit. Our expert tailors bring your ideas to life with bullseye precision.
            </p>
        </div>
        <div class="col-md-4 marginTop center">
            <h3 class="center">Speed</h3>
            <img src=<%= image_url("dummy_171x180.svg") %> alt="..." class="marginTop" />
            <p class="marginTop">
                Getting traditional clothing no longer has to take ages. Ordered clothing gets to your doorstep within days.
            </p>
        </div>
    </div>
    <div class="center marginTop">
        <button type="button" class="btn btn-default btn-lg">Try our Design Wizard</button>
    </div>
</div>

<style>
    $(".contentContainer").css("minHeight", $(window).height());
    console.log($(window).height())
</style>