<!DOCTYPE HTML>
<html>
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Aso, Not Clothing</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  
  <body data-spy="scroll" data-target=".navbar-collapse">
    
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>
    
    <%= yield %>  
    
    <%= render 'layouts/footer' %>
    
    <%= debug(params) if Rails.env.development? %>
    
    <script>
			$(".contentContainer").css("minHeight", $(window).height());
			console.log($(window).height());
		</script>
    
  </body>

</html>